// general styles
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a, a:focus {
  text-decoration: none !important;
  outline: 0;
}

body {
  font-family: $font-dogica;
  font-size: 1rem;
  line-height: 1.9;
  background: $dark-bg;
  text-align: justify;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
