// general styles
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a, a:focus {
  text-decoration: none !important;
  outline: 0;
}

a {
  color: $text;
}

body {
  font-family: $font-body;
  font-size: 1.2rem;
  line-height: 1.9;
  background: $bg-color;
  text-align: justify;
  color: $text;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// dark mode
body.theme-dark {
  background-color: $dark-bg-color;
  color: $dark-text;
}

a.theme-dark {
  color: $dark-text;
}