
.main-heading {
    text-align: center;

    &__title {
        font-size: 6rem;
        font-weight: 700;
        margin-bottom: -1.3rem;
    }

    &__bio {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
}
.grid {
}

.popup-content {
    margin-top: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 3fr 1.5fr;
    grid-template-rows: 1.5fr 3fr 1.5fr;
    z-index: -1;
}

.svg {
    width: 700px;
    grid-area: 2/2/3/3;
    justify-self: center;
    
    &__img {
    }

    &__hover-group {
    }
  }

.skills-room {
    &:hover {
        stroke: #73bed3;
    }
    &__container-right {
        /* grid-area: (grid-row-start) / (grid-column-start) / (grid-row-end) / (grid-column-end) */
        grid-area: 2/3/3/4;
        justify-self: flex-start;
    }
    &__container-left {
        grid-area: 2/1/3/2;
        justify-self: flex-end
    }
    &__popup {

        &-right {
            display: none;
            max-width: 20rem;
        }
        &-left {
            display: none;
            max-width: 20rem;

        }
        &-title {
            text-decoration: underline;
            font-size: 4rem;
            color: $color-blue;
        }
        &-text {
        }
    }
}

.bio-room {
    &:hover {
        stroke: #a4dddb;
    } 
    &__container {
        &-right {
            grid-area: 2/3/3/4;
            justify-self: flex-start;
            max-width: 20rem;
        }
        &-left {
            grid-area: 2/1/3/2;
            justify-self: flex-end;
            max-width: 20rem;

        }
    }
    &__popup {
        &-right {
            display: none;
        }
        &-left {
            display: none;
            z-index: 1;

        }
        &-header {
            font-size: 4rem;
            text-decoration: underline;
        }
        &-text {
            font-size: 0.8rem;
            margin-bottom: 4rem;

        }
        &-text, &-header {
            color: #a4dddb;
        }
    }
}

.contact-room {
    &:hover {
        stroke: $color-pink;
    }
    &__popup {
        display: none;
        grid-area: 2/1/3/2;
        justify-self: flex-end;
        align-self: flex-end;
    
        &-header {
            color: $color-pink;
            text-decoration: underline;
            font-size: 4rem;
        }
        &-text {
            width: 20rem;
            font-size: 0.8rem;
            text-align: justify;
        }
    }
}

.skills-room, .bio-room, .contact-room {
    fill: black;
    opacity: 0.5;
    stroke: transparent;
    pointer-events: all;
}
.skills-room:hover, .bio-room:hover, .contact-room:hover {
    transition: ease 0.15s;
    opacity: 1;
    fill: none;
    stroke-width: 3px;
}


.testimonials {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 20rem;
    width: 100%;
    bottom: 0;
    transform: translateY(14rem);
    background-color: $color-black;
    z-index: -1;
        h1 {
            margin-top: 1rem;
        }
}

@media screen and (max-width: 1550px) {

    .svg {
        width: 90%;
    }

    .popup-content {
    }

    .skills-room {
        &__container {
            &-right {
            }
        }
                &__popup {
                    &-left {
                    }
                    &-right {
                    }
                    &-text {
                        background-color: $color-black;
                        opacity: 0.8;
                        padding: 1rem;
                    }
                }
            }
        
            .bio-room {
                &__popup {
                    &-left {
                    }
                    &-right {
                    }
                    &-text {
                        background-color: $color-black;
                        opacity: 0.8;
                        padding: 1rem;                
                    }
                }
            }
        
            .contact-room {
                &__popup {

                    &-text {
                    background-color: $color-black;
                    opacity: 0.8;
                    padding: 1rem;   
                    }
                }
            }
}



// @media screen and (max-width: 1250px) {
//     .skills-room {
//         &__popup {

//             &-left {
//                 margin-top: -4rem;
//                 margin-left: 6.5rem;
//                 width: 9rem;
//             }
//             &-right {
//                 margin-left: -7rem;
//             }
//             &-text {
//                 background-color: $color-black;
//                 opacity: 0.8;
//                 padding: 1rem;
//             }
//         }
//     }

//     .bio-room {
//         &__popup {
//             &-left {
//                 margin-left: 6rem;
//             }
//             &-right {
//                 margin-left: -8rem;
//             }
//             &-text {
//                 background-color: $color-black;
//                 opacity: 0.8;
//                 padding: 1rem;                
//             }
//         }
//     }

//     .contact-room {
//         &__popup {
//             margin-top: 5rem;
//             margin-left: 9rem;
//             &-text {
//             background-color: $color-black;
//             opacity: 0.8;
//             padding: 1rem;   
//             }
//         }
//     }
// }

// @media screen and (max-height: 800px) {
//     .main-heading {
//         &__title {
//             font-size: 4rem;
//         }
//         &__bio {
//             font-size: 0.7rem;
//         }
//     }

//     .svg {
//         height: 425px;
//     }

//     .skills-room {
//         &__popup {

//             &-title {
//             }
//             &-left {
//                 margin-left: 15rem;
//             }
//         }

//     }
// }



// // Mobile integration
// @media screen and (max-width: 950px) {
// .svg {
//     display: none;
// }

// .popup-content {
//     display: grid;
//     grid-template-rows: 1fr 1.2fr 1fr;
//     grid-template-columns: 100%;
// }
//     .skills-room {
//         &__container {
//             display: flex;
//             flex-direction: column;
//             align-items: center;

//         }
//         &__popup {
//             margin: 0;
            

//             &-right {
//                 position: relative;
//                 display: block;
//                 width: 30rem;
//                 margin: 0;

//             }
//             &-left {
//                 position: relative;
//                 display: block;
//                 width: 30rem;
//                 margin: 0;
//                 top: 0;
//                 left: 0;
//             }
//             &-title {
//                 margin: 0;

//             }
//             &-text {
//                 margin: 0;
//             }
//         }
//     }
    
//     .bio-room {
//         &__container {
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             gap: 5rem;
//         }
//         &__popup {
//             &-right {
//                 display: block;
//                 width: 30rem;
//             }
//             &-left {
//                 display: block;
//                 width: 30rem;
//             }
//             &-header {
//                 margin: 0;

//             }
//             &-text {
//                 margin: 0;
//             }
//         }
//     }
    
//     .contact-room {
//         &__popup {
//             display: block;
//             position: relative;
//             margin: 0;
//             top: 0;
//             left: 0;
        
//             &-header {
//             }
//             &-text {
//             }
//         }
//     }

// }

