
.main-heading {
    text-align: center;
    &__title {
        font-size: 6rem;
        font-weight: 700;
        margin-bottom: -1.3rem;
    }
    &__bio {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
}

.popup-content {
    margin-top: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 3fr 1.5fr;
    grid-template-rows: 1.5fr 3fr 1.5fr;
    z-index: -1;
}

.svg {
    width: 700px;
    grid-area: 2/2/3/3;
    justify-self: center;
  }

.skills-room {
    &:hover, &:checked {
        stroke: #73bed3;
    }
    &__container {
        &-right {
            /* grid-area: (grid-row-start) / (grid-column-start) / (grid-row-end) / (grid-column-end) */
            grid-area: 2/3/3/4;
            justify-self: flex-start;
            position: absolute;
        }
        &-left {
            grid-area: 2/1/3/2;
            justify-self: flex-end;
            position: absolute;
        }
    }
    &__popup {

        &-right {
            display: none;
            max-width: 20rem;
        }
        &-left {
            display: none;
            max-width: 20rem;
        }
        &-title {
            text-decoration: underline;
            font-size: 4rem;
            color: $color-blue;
        }
    }
}

.bio-room {
    &:hover {
        stroke: #a4dddb;
    } 
    &__container {
        &-right {
            position: absolute;
            grid-area: 2/3/3/4;
            justify-self: flex-start;
            max-width: 20rem;
        }
        &-left {
            position: absolute;
            grid-area: 2/1/3/2;
            justify-self: flex-end;
            max-width: 20rem;
        }
    }
    &__popup {
        &-right, &-left {
            display: none;
        }
        &-title {
            font-size: 4rem;
            text-decoration: underline;
        }
        &-text {
            font-size: 0.8rem;
            margin-bottom: 4rem;

        }
        &-text, &-title {
            color: #a4dddb;
        }
    }
}

.contact-room {
    &:hover {
        stroke: $color-pink;
    }
    &__popup {
        display: none;
        grid-area: 2/1/3/2;
        justify-self: flex-end;
        align-self: flex-end;
        width: 20rem;
        position: absolute;
    
        &-title {
            color: $color-pink;
            text-decoration: underline;
            font-size: 4rem;
        }
        &-text {
            font-size: 0.8rem;
        }
    }
}

.skills-room, .bio-room, .contact-room {
    fill: black;
    opacity: 0.5;
    stroke: transparent;
    pointer-events: all;
}
.skills-room:hover, .bio-room:hover, .contact-room:hover {
    transition: ease 0.15s;
    opacity: 1;
    fill: none;
    stroke-width: 3px;
}

.clicked {
    opacity: 0;
}


@media screen and (max-width: 1550px) {

    .svg {
        width: 90%;
    }

    .skills-room {
                &__popup {
                    &-text {
                        background-color: $color-black;
                        opacity: 0.8;
                        padding: 1rem;
                    }
                }
            }
        
            .bio-room {
                &__popup {
                    &-left, &-right {
                        margin: 0;
                    }
                    &-text {
                        background-color: $color-black;
                        opacity: 0.8;
                        padding: 1rem;                
                    }
                }
            }
        
            .contact-room {
                &__popup {
                    margin-left: 4rem;
                    &-text {
                    background-color: $color-black;
                    opacity: 0.8;
                    padding: 1rem;
                    }
                }
            }
}

@media screen and (max-width: 1300px) {
    .svg {
        position: absolute;
        width: 550px;
    }
    .popup-content {
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 2fr 3fr 2fr;
    }

    .skills-room {
        &__popup {

            &-left, &-right {
                width: 15rem;
            }
            &-text {
                font-size: 0.65rem;
            }
        }
    }

    .bio-room {
        &__popup {
            &-left, &-right {
                width: 15rem;
            }
            &-text {
                font-size: 0.65rem;
            }
        }
    }

    .contact-room {
        &__popup {
            width: 15rem;
            &-text {
                font-size: 0.65rem;
            }
            &-title {

            }
        }
    }
}



@media screen and (max-height: 900px) {
    .svg {
        width: 550px;
        justify-self: center;
    }
}

@media screen and (max-height: 770px) {
    .svg {
        width: 500px;
    }
    .skills-room, .bio-room, .contact-room {
        pointer-events: none;
        opacity: 0;
    }
}

@media screen and (max-width: 765px) {
    .main-heading {
        text-align: center;
        &__title {
            font-size: 3.5rem;
        }
        &__bio {
            margin-top: 0.8rem;
            font-size: 0.8rem;
            margin-bottom: 2rem;
        }
    }
    
    .popup-content {
        grid-template-columns: 1fr;
        grid-template-rows: 150px 430px 300px 450px 270px 250px 500px;
    }
    .svg {
        grid-area: 2/1/3/2;
    }
    .skills-room {
        &__container {
            &-right {
                /* grid-area: (grid-row-start) / (grid-column-start) / (grid-row-end) / (grid-column-end) */
                grid-area: 4/1/5/2;
                justify-self: center;
                align-self: center;
                display: block;
                z-index: 1;
                width: 320px;
            }
            &-left {
                grid-area: 5/1/6/2;
                justify-self: center;
                align-self: flex-start;
                display: block;
                width: 320px;
            }
        }
        &__popup {
            &-right, &-left {
                display: block;
                z-index: 1;
            }
            &-text {
                width: 320px;
            }
            &-title {
                text-decoration: underline;
                font-size: 4rem;
                color: $color-blue;
                text-align: center;
                width: 320px;
            }
        }
    }
    .bio-room {
        &__container {
            &-right {
                grid-area: 6/1/7/2;
                max-width: 20rem;
                justify-self: center;
                align-self: center;
                width: 320px;
            }
            &-left {
                grid-area: 7/1/8/2;
                justify-self: center;
                max-width: 20rem;
                align-self: center;
                width: 320px;
            }
        }
        &__popup {
            &-right, &-left {
                display: block;
            }
            &-text {
                width: 320px;
            }
            &-title {
                width: 320px;
                text-align: center;
                margin-top: -22.2rem;
            }
        }
    }
    .contact-room {
        &__popup {
            display:block;
            grid-area: 3/1/4/2;
            justify-self: center;
            align-self: center;
            margin: 0;
            text-align: center;
        }
    }
}

@media screen and (max-width: 570px) {
    .main-heading {
        width: 90%;
    }
    .svg {
        margin-top: 1rem;
        width: 400px;
    }

    .popup-content {
        grid-template-rows: 150px 300px 300px 450px 270px 250px 500px;
    }
}

@media screen and (max-width: 486px) {
    .popup-content {
        grid-template-rows: 240px 320px 300px 450px 270px 250px 500px;
    }

    .main-heading {
        &__title {
            margin-top: 1rem;
        }
    }
}

@media screen and (max-width: 420px) {
    .svg {
        width: 350px;
    }
    .main-heading {
        &__title {
            font-size: 3rem;
        }
    }

    .popup-content {
        height: 100rem;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 290px 300px 450px 270px 250px 500px;
    }
}
