/* font imports */
@font-face {
    font-family: "Dogica";
    src: url("/assets/fonts/DOGICA.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "DogicaBold";
    src: url("/assets/fonts/DOGICAPIXELBOLD.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "MotionControl";
    src: url("/assets/fonts/MOTIONCONTROL-BOLD.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }  

  @font-face {
    font-family: "Eurostile";
    src: url("/assets/fonts/Eurostile.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

// font variables
$font-body: "Eurostile", sans-serif;
$font-heading: "MotionControl", serif;
$font-dogica: "Dogica", sans-serif;
$font-dogica-bold: "DogicaBold", sans-serif;
$font-mono: "IBM Plex Mono", Consolas, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
    "Courier New", Courier, monospace;

// color variables
$color-white: #ebede9;
$color-black: #090a14;
$color-blue: #73bed3;
$color-theme-dark: #10141f;
$color-pink: #df84a5;
$color-gray: #bec0be;

// light variables
$bg-color: $color-white;
$bg-banner: #0072ce;
$text: $color-theme-dark;
$text-banner: $color-white;
$theme-divider: $color-theme-dark;


// dark variables
$dark-bg-color: $color-theme-dark;
$dark-bg-banner: $color-black;
$dark-text: $color-white;
$dark-theme-divider: $color-gray;
