.top-nav {
    padding: 0;
    margin: 0;
    background-color: #090a14;
    border-bottom: 2px solid #bec0be;
    height: auto;

   &__content {
            margin: 0;
            font-size: 1.1rem;
            max-width: 100%;
            text-align: right;
            margin-left: 1rem;
            margin-right: 1rem;
            line-height: 35px;
    }

    &__subitem {
        font-family: $font-heading;
        font-size: 2.2rem;
        padding: 0.8rem 1rem;
        font-weight: 700;
        display: inline-block; 
        @include nav-slider-animation($color-blue);
    }

    &__title {
        font-size: 2.2rem;
        padding: 0.8rem;
        font-weight: 700;
        display: inline-block;
    }
}
span {
    float: left;
}

.skillsNav:hover {
    color: #73bed3 ;
    cursor: pointer;
}
.bioNav:hover {
    color: #a4dddb ;
    cursor: pointer;
}
.contactNav:hover {
    color: #df84a5;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .top-nav {
        &__subitem, &__title {
            font-size: 1.7rem;
        }
    }
}

@media (max-width: 32em) {
    .top-nav {
        display: none;
    }
}