
.blog-post {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70vw;
        max-width: 60rem;
        padding-bottom: 2rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        border-bottom: 4px solid $theme-divider;
    }
    &__content {
        max-width: 50rem;
        width: 60vw;
        margin-bottom: 2rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            padding: 0.8rem;
        }
    }
    &__date {
    }
    &__title {
        text-align: center;
    }
}

@media screen and (max-width: 850px) {
    .blog-post {
        &__content {
            width: 70vw;
        }
        &__title {
            font-size: 2.2rem;
        }
    }
}
@media screen and (max-width: 700px) {
    .blog-post {
        &__content {
            width: 85vw;
        }
    }
}