.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0;
    margin: 0;
    background-color: #090a14;
    border-bottom: 2px solid #bec0be;
    &__title {
        font-family: $font-heading;
        font-size: 2.2rem;
        padding: 0.8rem 1rem;
        font-weight: 700;
        display: inline-block;
        line-height: 30px;
        @include nav-slider-animation($color-blue);
    }
    &__subitem {
        font-family: $font-heading;
        font-size: 2.2rem;
        padding: 0.8rem 1rem;
        font-weight: 700;
        line-height: 30px;
        display: inline-block; 
        @include nav-slider-animation($color-blue);
    }
    &__content {
        margin: 0;
        font-size: 1.1rem;
        max-width: 100%;
        text-align: right;
        margin-left: 1rem;
        margin-right: 1rem;
        line-height: 35px;
    }
  }
  
.skillsNav:hover {
    color: #73bed3 ;
    cursor: pointer;
}
.bioNav:hover {
    color: #a4dddb ;
    cursor: pointer;
}
.contactNav:hover {
    color: #df84a5;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;

    & > li {
        margin: 0 1rem;
        overflow: hidden;
    }
    
    &-button::before, &-button::after {
        position: absolute;
        display: block;
        width: 30px;
        height: 3px;
        background-color: $color-white;
        transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
    }
    &-button {
        margin-bottom: 0;
        height: 2px;
        width: 30px;
        background-color: transparent;
        padding-top: 4px;
        padding-bottom: 6px;
        &-container {
            display: none;
            width: 30px;
            cursor: pointer;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &:hover {
           .menu-button::after {
               width: 22px;
           } 
        }
        &::before {
            content: '';
            margin-top: -6px;
        }
        &::after {
            content: '';
            margin-top: 6px;
        }
    }
}

#menu-toggle {
    display: none;
    &:checked + .menu-button-container .menu-button {
        background: transparent;
    }
    &:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(45deg);
    }
    &:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-45deg);
    }
}
  
@media (max-width: 765px) {
    .menu {
      position: absolute;
      top: 0;
      margin-top: 70px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      & > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: $color-black;
      }
      &-button-container {
        display: flex;
        padding-right: 1.5rem;
      }
    }

    #menu-toggle {
        & ~ .menu li {
            height: 0;
            margin: 0;
            padding: 0;
            border: 0;
            transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &:checked ~ .menu li {
            border-bottom: 1px solid #bec0be;
            height: 70px;
            padding: 0.5em;
            transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1);
        }
    }
}