.footer {
    width: 100%;
    position: relative;
    bottom: -42rem;
    &__container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 6rem;
        background-color: $color-black;
    }
    &__content {
        font-family: $font-dogica;
        font-size: 1rem;
        padding: 1rem 1.5rem;
        @include nav-slider-animation($color-white);
    }
    &__subitem {
    }
}

@media screen and (max-height:905px) {
    .footer {
        bottom: -38.5rem;
    }
}

@media screen and (max-width:765px) {
    .footer {
        bottom: -125rem;
        &__content {
            font-size: 0.8rem;
        }
    }
}

@media screen and (max-width:570px) {
    .footer {
        bottom: -124rem;
    }
}

@media screen and (max-width:420px) {
    .footer {
        bottom: -118rem;
    }
}
