.footer {
    width: 100%;
    position: relative;
    top: 42rem;
    border-top: 2px solid $theme-divider;
    background-color: $bg-banner;
    &__container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 6rem;

    }
    &__content {
        font-family: $font-dogica;
        font-size: 1rem;
        padding: 1rem 1.5rem;
        @include nav-slider-animation($color-white);
    }
    &__subitem {
    }
}

footer.theme-dark {
    background-color: $dark-bg-banner;
    border-top: 2px solid $dark-theme-divider;
}

@media screen and (max-height:905px) {
    .footer {
        top: 39rem;
    }
}

@media screen and (max-width:765px) {
    .footer {
        top: 125rem;
        &__content {
            font-size: 0.8rem;
        }
    }
}

@media screen and (max-width:570px) {
    .footer {
        top: 124rem;
    }
}

@media screen and (max-width:420px) {
    .footer {
        top: 118rem;
    }
}
