---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import { SITE } from '../config';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let { title } = SITE;
let description = 'Specializing in high growth disruptive technologies';
let permalink = 'https://example.com/'; // ADD URL HERE

// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

---
<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />

		<style>
			.content {
				height: 100vh;
			}

			.title {
				margin-top: -8rem;
				text-align: center;
			}

			.main-heading {
				font-size: 6rem;
				font-weight: 700;
				margin-bottom: -0.5rem;
			}

			.main-bio {
				font-size: 1rem;
				margin-bottom: 2rem;
			}


			/* svg test styles */
			.img {
				height: 1000px;
      		}
			.svg {
				margin-top: 1.5rem;
       			width: 100%;
        		height: 600px;
      		}
			.main-room {
				fill: black;
				opacity: 0.5;
				stroke: transparent;
				pointer-events: all;
			}
			.main-room:hover {
				transition: ease 0.15s;
				opacity: 1;
				fill: none;
				stroke: #73bed3;
				stroke-width: 3px;
			}

			.blue-room {
				fill: black;
				opacity: 0.5;
				stroke: transparent;
				pointer-events: all;
			}
			.blue-room:hover {
				transition: ease 0.15s;
				opacity: 1;
				fill: none;
				stroke: #a4dddb;
				stroke-width: 3px;
			}

			.pink-room {
				fill: black;
				opacity: 0.5;
				stroke: transparent;
				pointer-events: all;
			}
			.pink-room:hover {
				transition: ease 0.15s;
				opacity: 1;
				fill: none;
				stroke: #df84a5;
				stroke-width: 3px;
			}
			.main-room-div-right {
				display: none;
				width: 20rem;
				position: absolute;
				margin-top: 5.5rem;
				transform: translateX(-3rem);
			}
			.popup-title {
				text-decoration: underline;
				font-size: 4.5rem;
				color: var(--color-blue);
			}
			.popup-text {
				font-size: 0.8rem;
				margin-top: 9rem;
			}
			.main-room-div-left {
				display: none;
				width: 18rem;
				position: absolute;
				z-index: 1;
				top: 18rem;
				left: 2rem;
			}


			.references {
				position: absolute;
				height: 20rem;
				width: 100%;
				bottom: 0;
				transform: translateY(14rem);
				background-color: #090a14;
			}


		</style>
	</head>

	<body>
		<BlogHeader />
		<div class="wrapper">
			<main class="content">
					<div class="title">
						<h1 class="main-heading">THE DECENTRALAWYER</h1>
						<p class="main-bio">{description}</p>
					</div>

					<!-- svg integration -->
						<figure class="figure">
						  <svg
							class="svg"
							viewBox="0 0 1500 1200"
							preserveAspectRatio="xMinYMin meet"
						  >
							<image
							  class="img"
							  xlink:href="/public/assets/DecentralawyerOfficeMain_smaller.png"
							/>
				  
							<g class="hover-group">
							  <polygon
								class="main-room"
								points="200, 275 745, 0 1340, 295 1340, 450 948, 647"
							  />
							</g>
							<g class="hover-group">
							  <polygon
								class="blue-room"
								points="320, 840 320, 685 672, 511 1010, 678 1010, 830 660, 1005"
							  />
							</g>
							<g class="hover-group">
							  <polygon
								class="pink-room"
								points="320, 840 320, 685 672, 510 380, 365 0, 550 0, 680  "
							  />
							</g>
						  </svg>
						  <div class="main-room-div-right">
							<h1 class="popup-title">Skills</h1>
							<p class="popup-text">We specialize in providing cutting-edge solutions for high growth disruptive technologies. Our team of experts is dedicated to helping our clients stay ahead of the curve and achieve their business goals</p>
						  </div>
						  <div class="main-room-div-left">
							<p>If you are facing legal issues, Decentralawyer is here to help. Our attorneys have a wealth of knowledge in [practice areas] and will work tirelessly to ensure that your rights are protected
							</p>
						  </div>
						</figure>

					  <!-- svg integration end -->
					  <div class="references"></div>
			</main>
		</div>
		<script>
			// defines html elements as variables
			var mainRoom = document.querySelector(".main-room");
			var mainRoomDiv = document.querySelector(".main-room-div-right");
			var mainRoomDivLeft = document.querySelector(".main-room-div-left")
			
			// selects the elements and listens for hover motions
			mainRoom.addEventListener("mouseover", showPopup);
			mainRoom.addEventListener("mouseout", hidePopup);
			
			// function to show the popup
			function showPopup(evt) {
			  // gets position and size of mainRoom
			  var iconPos = mainRoom.getBoundingClientRect();
			  
			  // sets the position styles of the popup
			  mainRoomDiv.style.left = iconPos.right + 20 + "px";
			  mainRoomDiv.style.top = window.scrollY + iconPos.top - 60 + "px";
			  mainRoomDiv.style.display = "block";

			  mainRoomDivLeft.style.display = "block";
			}
			
			// hides the popup
			function hidePopup(evt) {
			  mainRoomDiv.style.display = "none";
			  mainRoomDivLeft.style.display = "none";
			}
		</script>
	</body>
</html>
