---
import { SITE } from '../config';
---
<header class="top-nav">
	<article>
		<h1 class="top-nav__content">
			<a href="/" class="top-nav__subitem">Home</a>
			<a class="top-nav__subitem skillsNav">Skills</a>
			<a class="top-nav__subitem bioNav">Bio</a>
			<a class="top-nav__subitem contactNav">Contact</a>
			<a class="top-nav__subitem" href="/blog/">Blog</a>
		</h1>
	</article>
</header>

