---
import { SITE } from '../config';
let { title } = SITE;
---
<section class="top-nav">
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'>
    </div>
  </label>
    <ul class="menu">
      <li><a class="top-nav__subitem skillsNav">Skills</a></li>
      <li><a class="top-nav__subitem bioNav">Bio</a></li>
      <li><a class="top-nav__subitem contactNav">Contact</a></li>
      <li><a class="top-nav__subitem" href="/blog/">Blog</a></li>

		  <!-- dark mode toggle -->
      <label for="themeToggle" class="night-mode-toggle">
        <input type="checkbox" id="themeToggle">
        <img class="pixel-moon" src="public/assets/pixel-moon.png">
      </label>

    </ul>
  </section>
