---
import { SITE } from '../config';
---
<header class="top-nav">
	<article>
		<h1 class="top-nav__content">
			<!-- <a href="/" class="header-subitem">{SITE.title}</a> -->
			<a class="top-nav__subitem">Skills</a>
			<a class="top-nav__subitem">Bio</a>
			<a class="top-nav__subitem" href="/contact/">Contact</a>
			<a class="top-nav__subitem" href="/blog/">Blog</a>
		</h1>
	</article>
</header>

