---
import { SITE } from '../config';
let { title } = SITE;
---
<section class="top-nav">
    <div>
		<a href="/" class="top-nav__title">{title}</a>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu">
      <li><a class="top-nav__subitem skillsNav">Skills</a></li>
      <li><a class="top-nav__subitem bioNav">Bio</a></li>
      <li><a class="top-nav__subitem contactNav">Contact</a></li>
      <li><a class="top-nav__subitem" href="/blog/">Blog</a></li>
    </ul>
  </section>
