---
import { SITE } from '../config';
---
<header class="wrapper">
	<article>
		<h1>
			<a href="/" class="header-subitem">{SITE.title}</a>
			<a class="header-subitem blog" href="/blog/">Blog</a>
			<a class="header-subitem" href="/contact/">Contact</a>
		</h1>
	</article>
</header>

<style>
	.wrapper {
		padding: 0;
		margin-top: 20px;
	}

	.header-subitem {
		padding: 1rem;
		font-family: var(--font-body);
		font-weight: 700;
	}

	@media (max-width: 32em) {
		.header-subitem {
			display: none;
		}
	}


	h1 {
		margin: 0;
		font-size: 1.1rem;
		max-width: 100%;
		display: flex;
		flex-grow: 1;
		justify-content: space-between;
	}
</style>
