---
import { SITE } from '../config';
---
<footer class="footer">
		<h2 class="footer__content">
			<a href="/" class="footer__subitem">Home</a>
			<a class="footer__subitem">Skills</a>
		</h2>
</footer>