---
import { SITE } from '../config';
---
<footer class="footer">
	<div class="footer__container">
		<h2 class="footer__content">
			<a href="src/pages/ToS.astro" class="footer__subitem">Terms of Service</a>
		</h2>
		<h2 class="footer__content">
			<a href="src/pages/privacy.astro" class="footer__subitem">Privacy Policy</a>
		</h2>
	</div>
</footer>