---
import { SITE } from '../config';
---
<div class="footer__container">
<footer class="footer">
		<h2 class="footer__content">
			<a href="/" class="footer__subitem">Terms of Service</a>
			<a class="footer__subitem">Privacy Policy</a>
		</h2>
</footer>
</div>